
.clients {
    $block: &;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1000px; //если тебе нужен этот модуль поуже
    margin: 0 auto;

    @media only screen and (max-width: 900px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
   

}

.client-form{
    display: flex;
    width: 50%;
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    min-width: 200px;

    @media only screen and (max-width: 900px){
        width: 100%; //теперь контейнер выстраивает в колонну, поэтому растяну на 100%
    }

    h3 {
        text-align: center;
    }
   
}
.client-form input, textarea, button{
    margin-top: 1rem;
    padding: .5rem;
     resize: none;
}
.client-form button{
    position: relative;
    background: none;
    border: none;
    padding: 0;
}

.client-form button a{
    justify-content: center;
    max-width: 150px;
    display: flex;
    text-decoration: none;
    color: #00cccc;
    background: none;
    font-family: Roboto;
    font-weight: 900;
    padding: 10px;
    border: 1px solid #00cccc;
    border-radius: 2px;
  } 
.client-form button a:hover{
    color: white;
    background: #00cccc;
  }

.contact-client{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
    min-width: 200px;


    @media only screen and (max-width: 900px){
        width: 100%; //теперь контейнер выстраивает в колонну, поэтому растяну на 100%
    }
    
}
.client{
    position: relative;
    margin: 1rem;
}
.clients .column-1,.clients .column-2{
    display: inline-grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, 170px);
}

.client img{
    display: inline-flex;
    margin: 2rem;
    flex-wrap: wrap;
}
@media only screen and (max-width: 414px){
    .client-form{
        max-width: 200px;
        
    }
    .clients .column-1,.clients .column-2{
            display: inline-grid;
            justify-items: center;
            grid-template-columns: repeat(auto-fill, 300px)!important;
        }
}
@media only screen and (max-width: 320px){
    .client-form{
        max-width: 200px;
    }
}