.expertise {
  $block: &;
  position: relative;
  // центрование по вертикали
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  p{
    margin-bottom: 1rem;
  }

  .list {
    display: grid;
    position: relative;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50% 50%;
    gap: 10%;
    margin-top: 2em;
    align-content: center;

    &__item {
      justify-content: center;
      align-items: center;
      
      h3 {
        text-align: center;
        margin: 10px;
      }
       > img {
        display: block;
        margin: auto;
      }
      p {
        text-align: center;
        font-size: 1.4em;
      }
    }

    .list-3 img {
     
      width: 30px;
    }
    .list-2 img {
      height: 50px;
    }
    .list-5 img {
      height: 50px;
    }
  }
  
  .expertise h3,
  .expertise p {
  display: flex;
  justify-content: center;
  align-items: center;
  }
 
}
@media only screen and (max-width: 530px){
  .expertise{
    .list{
    grid-template-columns: repeat(auto-fill, 186px);
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
    gap: 2%;
  }
}
}
@media only screen and (max-width: 414px){
  .expertise{
    img{
       width: 15px; 
    }
        .list-3 img {
        width: 10px !important;
      }
      .list-2 img {
        height: 15px !important;
      }
      .list-5 img {
        height: 15px !important;
      }
}
}
