*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media only screen and (max-width: 1024px){
    
  body,
  .expertise,
  .team,
  .quotes,
  .quotes__caption__text{
      font-size: 80%;
  }

}
@media only screen and (max-width: 414px){
  body,
  .expertise,
  .team,
  .quotes,
  .quotes__caption__text{
      font-size: 65%;
  }
}
@media only screen and (max-width: 320px){
  body,
  .expertise,
  .team,
  .quotes,
  .quotes__caption__text{
      font-size: 60%;
  }
}