.quotes{
  $block: &;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;

    &__outer{
      width: 100%;
      background-image: url(../img/quotes-back.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    &__caption__text{ 
      display: block;
      color: white;
      text-align: center;
      font-size: 1em;
      max-width: 400px;
      position: relative;
      margin: 0 auto;
    }
    
    &__caption h3, 
    &__caption p{
      color: white;
      text-align: center;
    }
  
  .swiper-container {
    max-width: 1000px;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


 
}

@media only screen and (max-width: 1024px){
    
  .quotes{
    h3, p{
        font-size: 65%;
      margin-top: 5px;
    }
    &__caption__text{
        max-width: 200px;
    }
  }
}
@media only screen and (max-width: 320px){
  .quotes__caption__text{
    font-size: 0.7rem;
    max-width: 150px;
  }
}
  