.story {
    $block: &;
    position: relative;
    display: flex;
    justify-content: center;

    &__outer {
      width: 100%;
    }
  
    &__slide {
      width: 100%;
    }


    img {
      margin: auto 1rem;
      width: 250px;
    }

    .our-text{
      width: 800px;
      margin-bottom: 20px;
    } 
    h1{
      font-family: 'Playfair Display';
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
    .our-story .our-text p{
      padding: 0;
      font-family: Roboto;
      font-weight: 100;
      margin-bottom: 25px;
      font-size: 1em;
    }  
    .our-text button{
      background: none;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0;
      border: none;
    }
    .our-text button a{
      text-decoration: none;
      color: #00cccc;
      background: none;
      font-family: Roboto;
      font-weight: 900;
      padding: 10px;
      border: 1px solid  #00cccc;
      border-radius: 2px;
    } 
    .our-text button a:hover{
      color: white;
      background: #00cccc;
    }
    
  
}
@media only screen and (max-width: 1024px){
  .our-text{
    margin: 10px;
    }
}
@media only screen and (max-width: 414px){
  .our-text{
    margin: 10px;
    }
  .story{
      align-self: center;
  }
  .story img{
      width: 100px;
      margin: auto;
  }
}