.swiper-pagination-bullets {
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.swiper-pagination-bullet {

  display: inline-block;
  margin: 0 8px;

  background: $color-white;
  transition: $link-transition;

  &-active {
    background:$color-blue;  
  }

  &:hover {
      cursor: pointer;
  }
}